server:
  port: 8080
  servlet:
    context-path: /hellomentor

spring:
  main:
    allow-bean-definition-overriding: true
  profiles:
    active: prod
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/mentor?useUnicode=true&characterEncoding=utf8&characterSetResults=utf8&serverTimezone=UTC&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: root
  thymeleaf:
    cache: false
    prefix: classpath:/view/pages/
    mode: HTML
    suffix: .html


jpa:
  hibernate:
    ddl-auto: create
  show-sql: true
