<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <!--引入 element-ui 的样式，-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 必须先引入vue，  后使用element-ui -->
    <script src="../js/vue.js"></script>
    <!-- 引入element 的组件库-->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/http-vue-loader"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        .el-header {
            background-color: #B3C0D1;
            color: #333;
            line-height: 60px;
        }

    </style>
</head>

<body>
    <el-container id="headerApp">
        <el-header style="text-align: right; font-size: 12px">
            <el-dropdown>
                <i class="el-icon-setting" style="margin-right: 15px"></i>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item>登出</el-dropdown-item>
                    <el-dropdown-item>修改头像</el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
            <el-avatar icon="el-icon-user-solid"></el-avatar>
        </el-header>
    </el-container>

    <el-container id="pageApp">
        <el-header style="background-color: #545c64; text-align: right; font-size: 12px">
            <el-menu
                    :default-active="activeIndex2"
                    class="el-menu-demo"
                    mode="horizontal"
                    @select="handleSelect"
                    background-color="#545c64"
                    text-color="#fff"
                    active-text-color="#ffd04b">
                <el-menu-item index="1" @click="seen1=true;seen2=false;seen4=false">个人信息</el-menu-item>
                <el-submenu index="2">
                    <template slot="title">志愿管理</template>
                    <el-menu-item index="2-1" @click="seen1=false;seen2=true;seen4=false">查看志愿</el-menu-item>
                    <el-menu-item index="2-2" @click="seen1=false;seen2=true;seen4=false">填写志愿</el-menu-item>
                </el-submenu>
                <el-menu-item index="3" disabled>消息中心</el-menu-item>
                <el-menu-item index="4" @click="seen1=false;seen2=false;seen4=true">导师列表</el-menu-item>
            </el-menu>
        </el-header>

        <el-main>
            <transition name="el-fade-in">
                <el-descriptions v-if="seen1" class="margin-top" title="个人信息" :column="3" :size="size" border>
                    <template slot="extra">
                        <el-button type="primary" size="small">修改</el-button>
                    </template>
                    <el-descriptions-item>
                        <template slot="label">
                            <i class="el-icon-user"></i>
                            姓名
                        </template>
                        {{ StudentName }}
                    </el-descriptions-item>
                    <el-descriptions-item>
                        <template slot="label">
                            <i class="el-icon-mobile-phone"></i>
                            学号
                        </template>
                        20206660101
                    </el-descriptions-item>
                    <el-descriptions-item>
                        <template slot="label">
                            <i class="el-icon-location-outline"></i>
                            绩点
                        </template>
                        4.600
                    </el-descriptions-item>
                    <el-descriptions-item>
                        <template slot="label">
                            <i class="el-icon-tickets"></i>
                            备注
                        </template>
                        <el-tag size="small">学校</el-tag>
                    </el-descriptions-item>
                    <el-descriptions-item>
                        <template slot="label">
                            <i class="el-icon-office-building"></i>
                            所属院系
                        </template>
                        {{ StudentDescription }}
                    </el-descriptions-item>
                </el-descriptions>
            </transition>
            <transition name="el-fade-in">
                <div v-if="seen2">
                    <el-table
                            :data="stuAppData"
                            :fit="true"
                            stripe>
                        <el-table-column
                                width="140"
                                prop="studentId"
                                label="学号">
                            <template slot-scope="scope">
                                {{scope.row.studentId}}
                            </template>
                        </el-table-column>
                        <el-table-column
                                width="140"
                                prop="first_app"
                                label="第一志愿">
                            <template slot-scope="scope">
                                {{scope.row.first_app}}
                            </template>
                        </el-table-column>
                        <el-table-column
                                width="140"
                                prop="second_app"
                                label="第二志愿">
                            <template slot-scope="scope">
                                {{scope.row.second_app}}
                            </template>
                        </el-table-column>
                        <el-table-column
                                width="140"
                                prop="third_app"
                                label="第三志愿">
                            <template slot-scope="scope">
                                {{scope.row.third_app}}
                            </template>
                        </el-table-column>
                        <el-table-column
                                width="140"
                                prop="is_selected"
                                label="是否已被选">
                            <template slot-scope="scope">
                                {{scope.row.is_selected}}
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
            </transition>
            <transition name="el-fade-in">
                <div v-if="seen4">
                    <el-table
                            :data="tableData"
                            :fit="true"
                            stripe>
                        <el-table-column
                                width="140"
                                prop="studentId"
                                label="学号">
                            <template slot-scope="scope">
                                {{scope.row.studentId}}
                            </template>
                        </el-table-column>
                        <el-table-column
                                width="140"
                                prop="studentName"
                                label="姓名">
                            <template slot-scope="scope">
                                {{scope.row.studentName}}
                            </template>
                        </el-table-column>
                        <el-table-column
                                width="140"
                                prop="gender"
                                label="性别">
                            <template slot-scope="scope">
                                {{scope.row.gender === 0 ? '女' : '男'}}
                            </template>
                        </el-table-column>
                        <el-table-column
                                width="140"
                                prop="gpa"
                                label="绩点">
                            <template slot-scope="scope">
                                {{scope.row.gpa}}
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="password"
                                label="密码">
                            <template slot-scope="scope">
                                {{scope.row.password}}
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
            </transition>
        </el-main>
    </el-container>

<script type="text/javascript">
    var headerApp = new Vue({
        data() {
            return {
                UserName: 'Will'
            }
        }
    })
    headerApp.$mount('#headerApp')

    var pageApp = new Vue({
        data() {
            return {
                activeIndex: '1',
                activeIndex2: '1',
                seen1: true,
                seen2: false,
                seen4: false,
                stuAppData: [],
                tableData: [],
                StudentName: '',
                StudentDescription: ''
            }
        },
        methods: {
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            }
        },
        mounted() {
            axios
                .get("http://localhost:8080/hellomentor/student/getall")
                .then(resp => {
                    this.tableData = resp.data
                    console.log(this.tableData)
                })
                .catch(err => {
                    console.log(err)
                })
            axios
                .get("http://localhost:8080/hellomentor/student/getapp", {
                    params: {
                        student_id: '20206660101'//通过登录校验控制
                    }
                })
                .then(resp => {
                    this.stuAppData = resp.data
                    console.log(this.stuAppData)
                })
                .catch(err => {
                    console.log(err)
                })
            axios
                .get("http://localhost:8080/hellomentor/student/getinfo", {
                    params: {
                        student_id: '20206660101'//通过登录校验控制
                    }
                })
                .then(resp => {
                    this.StudentName = resp.data.studentName;
                    this.StudentDescription = resp.data.studentDescription;
                })
                .catch(err => {
                    console.log(err)
                })
        }
    })
    pageApp.$mount('#pageApp')

</script>
</body>
</html>