<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <!--引入 element-ui 的样式，-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 必须先引入vue，  后使用element-ui -->
    <!--    <script src="../js/vue.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <!-- 引入element 的组件库-->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/http-vue-loader"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue-router@3.0.0/dist/vue-router.js"></script>
    <style>
        .el-header {
            background-color: #B3C0D1;
            color: #333;
            line-height: 60px;
        }

        .image {
            width: 100%;
            display: block;
        }

        .tip {
            color: white;
            text-align: center;
            border-radius: 10px;
            font-family: sans-serif;
            padding: 10px;
            width: auto;
            display: inline-block !important;
        }

        .right {
            background-color: deepskyblue;
        }

        .left {
            background-color: forestgreen;
        }

        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background-color: rgb(255, 244, 232);
        }
    </style>
</head>

<body>
<div id="pageApp">
    <el-container>
        <el-header style="text-align: right; font-size: 12px">

            <el-dropdown>
                <i class="el-icon-setting" style="margin-right: 15px"></i>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item @click.native="logOut()">登出</el-dropdown-item>
<!--                    <el-dropdown-item @click.native="changeStatus()">切换阶段</el-dropdown-item>-->
                    <el-dropdown-item @click.native="exitStudent()">更改用户</el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
            <el-avatar icon="el-icon-user-solid"></el-avatar>
        </el-header>
    </el-container>

    <el-container>
        <el-header style="background-color: #545c64; text-align: right; font-size: 12px">
            <el-menu
                    :default-active="activeIndex2"
                    class="el-menu-demo"
                    mode="horizontal"
                    @select="handleSelect"
                    background-color="#545c64"
                    text-color="#fff"
                    active-text-color="#ffd04b">
                <el-menu-item index="1" @click="seen1=true;seen21=false;seen22=false;seen3=false;">个人信息
                </el-menu-item>
                <el-submenu index="2">
                    <template slot="title">志愿管理</template>
                    <el-menu-item index="2-1"
                                  @click="seen1=false;seen21=true;seen22=false;seen3=false;open();"
                                  v-if="this.presentStatus === 1 || this.presentStatus === 2 || this.presentStatus === 3">
                        查看志愿
                    </el-menu-item>
                </el-submenu>
                <el-menu-item index="3" @click="seen1=false;seen21=false;seen22=false;seen3=true;">
                    私信中心
                </el-menu-item>
                <el-menu-item index="4" @click="seen1=false;seen21=false;seen22=false;seen3=false;">
                    <el-link href="teachershow.html" target="_blank" :underline="false">导师列表</el-link>
                </el-menu-item>
                <el-menu-item index="5" @click=""></el-menu-item>
            </el-menu>
        </el-header>
        <el-steps :active="this.presentStatus" finish-status="success" simple>
            <el-step title="学生填写志愿"></el-step>
            <el-step title="第一轮志愿选择"></el-step>
            <el-step title="第二轮志愿选择"></el-step>
            <el-step title="第三轮志愿选择"></el-step>
            <el-step title="查看双选结果"></el-step>
        </el-steps>
        <el-main>
            <transition name="el-fade-in">
                <el-descriptions v-if="seen1" class="margin-top" title="个人信息" :column="3" border>
                    <template slot="extra">
                        <div>
                            <el-button type="primary" size="small" @click="dialogVisible=true">修改</el-button>
                            <el-dialog title="个人信息" :visible.sync="dialogVisible">
                                <el-form :model="form">
                                    <el-form-item label="姓名">
                                        <el-input v-model="form.teacherName" autocomplete="off" disabled></el-input>
                                    </el-form-item>
                                    <el-form-item label="个人介绍">
                                        <el-input v-model="form.teacherDescription" autocomplete="off"
                                                  type="textarea"></el-input>
                                    </el-form-item>
                                </el-form>
                                <div slot="footer" class="dialog-footer">
                                    <el-button @click="dialogVisible=false;cancelForm();">取 消</el-button>
                                    <el-button type="primary" @click="dialogVisible=false;submitForm();">确 定</el-button>
                                </div>
                            </el-dialog>
                        </div>
                    </template>
                    <el-descriptions-item>
                        <template slot="label">
                            <i class="el-icon-user"></i>
                            姓名
                        </template>
                        {{ TeacherName }}
                    </el-descriptions-item>
                    <el-descriptions-item>
                        <template slot="label">
                            <i class="el-icon-mobile-phone"></i>
                            工号
                        </template>
                        {{ TeacherId }}
                    </el-descriptions-item>
                    <el-descriptions-item>
                        <template slot="label">
                            <i class="el-icon-location-outline"></i>
                            性别
                        </template>
                        {{ TeacherGender === 0 ? '女' : '男' }}
                    </el-descriptions-item>
                    <el-descriptions-item>
                        <template slot="label">
                            <i class="el-icon-office-building"></i>
                            个人介绍
                        </template>
                        {{ TeacherDescription }}
                    </el-descriptions-item>
                </el-descriptions>
            </transition>

            <transition name="el-fade-in">
                <div v-if="this.presentStatus === 4 & seen1">
                    <template>
                        <el-table
                                :data="resultData"
                                :fit="true"
                                style="width: 240px">
                            <el-table-column
                                    type="index"
                                    width="40px">
                            </el-table-column>
                            <el-table-column
                                    property="studentName"
                                    label="学生姓名"
                                    width="200px">
                                <template slot-scope="scope">
                                    {{ scope.row.studentName }}
                                </template>
                            </el-table-column>
                        </el-table>
                    </template>
                </div>
            </transition>

            <transition name="el-fade-in">
                <div v-if="seen21">
                    <template>
                        <el-table
                                ref="multipleTable"
                                :data="checkAppList"
                                :fit="true"
                                :row-class-name="tableRowClassName"
                                @selection-change="handleSelectionChange"
                                border
                                style="width: 100%">
                            <el-table-column
                                    fixed
                                    prop="studentName"
                                    label="姓名"
                                    width="150%">
                            </el-table-column>
                            <el-table-column
                                    prop="studentGPA"
                                    label="绩点"
                                    width="150%">
                            </el-table-column>
                            <el-table-column
                                    prop="studentDescription"
                                    label="个人介绍">
                            </el-table-column>
                            <el-table-column
                                    type="selection"
                                    width="180%">
                            </el-table-column>
                        </el-table>
                        <el-button type="primary" @click="submitChosen()">提交</el-button>
                    </template>
                </div>
            </transition>

            <transition name="el-fade-in">
                <div v-if="seen3">
                    <template>
                        <div style="padding: 10px; margin-bottom: 50px">
                            <el-row>
                                <el-col :span="4">
                                    <el-card style="width: 300px;  color: #333">
                                        <div style="padding-bottom: 10px; border-bottom: 1px solid #ccc">在线学生<span
                                                style="font-size: 12px">（点击聊天气泡开始聊天）</span></div>
                                        <div style="padding: 10px 0" v-for="who in tableData" :key="who.studentId">
                                            <span>{{ who.studentName }}</span>
                                            <i class="el-icon-chat-dot-round"
                                               style="margin-left: 10px; font-size: 16px; cursor: pointer"
                                               @click="chatUser = who;recall()"></i>
                                            <span style="font-size: 12px;color: limegreen; margin-left: 5px"
                                                  v-if="who.studentId === chatUser.studentId">chatting...</span>
                                        </div>
                                    </el-card>
                                </el-col>
                                <el-col :span="20">
                                    <div style="width: 800px; margin: 0 auto; background-color: white;
                                border-radius: 5px; box-shadow: 0 0 10px #ccc">
                                        <div style="text-align: center; line-height: 50px;">
                                            私信（{{ chatUser.studentName }}）
                                        </div>
                                        <div style="height: 350px; overflow:auto; border-top: 1px solid #ccc"
                                             v-html="content"></div>
                                        <div style="height: 200px">
                        <textarea v-model="text" style="height: 160px; width: 95%; padding: 20px; border: none; border-top: 1px solid #ccc;
                         border-bottom: 1px solid #ccc; outline: none"></textarea>
                                            <div style="text-align: right; padding-right: 10px">
                                                <el-button type="primary" size="mini" @click="send">发送</el-button>
                                            </div>
                                        </div>
                                    </div>
                                </el-col>
                            </el-row>
                        </div>
                    </template>
                </div>
            </transition>

        </el-main>
    </el-container>
</div>

<script type="text/javascript">
    var pageApp = new Vue({
        data() {
            return {
                number:0,
                Visible:false,

                text: "",
                text123: "",

                content: '',

                chatUser: {
                    studentId: '',
                    studentName: '',
                    gender: '',
                    studentDescription: '',
                    password: ''
                },

                activeIndex: '1',
                activeIndex2: '1',
                presentStatus: JSON.parse(localStorage.getItem('PresentStatus')),

                seen1: true,
                seen21: false,
                seen22: false,
                seen3: false,
                seen4: false,

                tableData: [{
                    studentId: '',
                    studentName: '',
                    gender: '',
                    studentDescription: '',
                    password: ''
                }],
                studentNameList: [],
                resultData: [],

                messageData: [],

                TeacherId: JSON.parse(localStorage.getItem('TeacherID')),
                TeacherName: '',
                TeacherDescription: '',
                TeacherGender: 0,

                newMessage: 0,
                dialogVisible: false,
                form: {
                    teacherName: '',
                    teacherDescription: ''
                },
                selected: [],

                checkAppList: [],
                checkStudent: [],

                isrecall: true,

                texts: "",
                textr: "",
                chosenList: [],
                chosen: [],

                multipleSelection: []
            }
        },
        methods: {
            open() {
                    this.$alert(3-this.number, '您还能选几个学生', {
                        confirmButtonText: '确定',
                        callback: action => {
                            this.$message({
                                type: 'info',
                                message: `action: ${ 您已确认 }`
                            });
                        }
                    });
            },
            tableRowClassName({row}) {
                if (this.multipleSelection.some((item) => item === row)) {
                    return "success-row";
                }
                return "";
            },
            toggleSelection(rows) {
                if (rows) {
                    rows.forEach(row => {
                        this.$refs.multipleTable.toggleRowSelection(row);
                    });
                } else {
                    this.$refs.multipleTable.clearSelection();
                }
            },
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            submitChosen(){
                if (this.multipleSelection.length > 3-this.number) {
                    this.$message.error("不能超过3名学生！")
                } else {
                    this.$confirm('请确认填写情况,是否提交?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        this.appSubmit();
                        console.log(this.multipleSelection)
                    }).catch(err => {

                        this.$message({
                            type: 'info',
                            message: '取消提交'
                        });
                    });
                }
            },
            appSubmit() {
                for (let i = 0; i < this.multipleSelection.length; i++) {
                   // console.log(i)
                   // console.log(this.checkAppList[this.multipleSelection[i]])
                    axios
                        .get("http://localhost:8080/hellomentor/teacher/selectStudent", {
                            params: {
                                student_id:this.multipleSelection[i].studentId,
                                teacher_id: JSON.parse(localStorage.getItem('TeacherID')),
                            }
                        })
                        .then(resp => {
                            this.$message.success('已成功提交！');
                            this.selected = [];
                        })}
                window.location.reload()
            },

            recall() {
                axios
                    .get("http://localhost:8080/hellomentor/teacher/checkMessage", {
                        params: {
                            teacher_id: JSON.parse(localStorage.getItem('TeacherID')),
                            student_id: this.chatUser.studentId
                        }
                    })
                    .then(resp => {
                        this.messageData = resp.data;
                        this.newMessage = this.messageData.length;
                        this.isrecall = false;
                    })
                    .catch(err => {
                        console.log(err);
                    })
                this.content = '';
            },
            send() {
                if (!this.chatUser.studentId) {
                    this.$message({type: 'warning', message: "请选择聊天对象"})
                    return;
                }
                if (!this.text) {
                    this.$message({type: 'warning', message: "请输入内容"})
                } else {
                    axios
                        .get("http://localhost:8080/hellomentor/teacher/sendMessage", {
                            params: {
                                teacher_id: JSON.parse(localStorage.getItem('TeacherID')),
                                student_id: this.chatUser.studentId,
                                messageinfo: this.text
                            }
                        })
                        .then(resp => {
                            this.$message.success('发送成功！');
                            console.log(resp.data);
                            this.text = '';
                        });
                }
            },

            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            },
            submitForm() {
                axios
                    .get("http://localhost:8080/hellomentor/teacher/updateDescription", {
                        params: {
                            teacher_id: this.TeacherId,
                            teacher_description: this.form.teacherDescription
                        }
                    })
                    .then(resp => {
                        this.$message.success('已保存修改！');
                        console.log(resp.data);
                        window.location.reload();
                    });
            },
            cancelForm() {
                this.$message({
                    message: '取消提交',
                    type: 'warning'
                })
            },
            handleChange(value, direction, movedKeys) {
                console.log(value, direction, movedKeys);
            },
            handleOpen(key, keyPath) {
                console.log(key, keyPath);
            },
            handleClose(key, keyPath) {
                console.log(key, keyPath);
            },
            resetSelect() {
                this.$confirm('确定要重置选择吗?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.selected = [];
                    this.$message({
                        type: 'success',
                        message: '已重置选择！'
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '取消重置'
                    })
                })
            },
            teacherNameFormatter(idToFormat) {
                for (let i = 0; i < this.teacherNameList.length; i++) {
                    if (idToFormat === this.teacherNameList[i].key) {
                        return this.teacherNameList[i].desc;
                    }
                }
                return '暂未选择';
            },
            exitStudent() {
                localStorage.setItem('TeacherID', null);
                window.location.href = "http://localhost:63342/MentorProject/view/pages/index.html";
            },
            changeStatus() {
                if (this.presentStatus === 5) {
                    localStorage.setItem('PresentStatus', 0);
                } else {
                    localStorage.setItem('PresentStatus', this.presentStatus + 1);
                }
                window.location.reload();
            },
            logOut() {
                localStorage.setItem('TeacherID', null);
                window.location.href = "http://localhost:63342/MentorProject/view/pages/index.html"
            },
            checkApp(status) {//Editing
                let _this = this;
                switch (status) {
                    case 1: {
                        axios
                            .get("http://localhost:8080/hellomentor/teacher/getFirstApp", {
                                params: {
                                    teacher_id: this.TeacherId
                                }
                            })
                            .then(function (resp) {
                                console.log(resp.data);
                                _this.checkStudent = resp.data;
                                _this.checkAppList = [];
                                for (let i = 0; i < resp.data.length; i++) {
                                    let studentInfo = {
                                        studentId: resp.data[i].studentId,
                                        studentName: '',
                                        studentGPA: 0,
                                        studentDescription: ''
                                    }
                                    let chosenStatus = 0;
                                    axios
                                        .get("http://localhost:8080/hellomentor/student/getinfo", {
                                            params: {
                                                student_id: resp.data[i].studentId
                                            }
                                        })
                                        .then(function (resp1) {
                                            console.log(resp1.data);
                                            studentInfo.studentName = resp1.data.studentName;
                                            studentInfo.studentGPA = resp1.data.gpa;
                                            studentInfo.studentDescription = resp1.data.studentDescription;
                                            _this.checkAppList.push(studentInfo);
                                            _this.chosen.push(chosenStatus);
                                        })
                                        .catch(err => {
                                            console.log(err);
                                        })
                                }
                            })
                            .catch(err => {
                                console.log(err);
                            })
                        break;
                    }
                    case 2: {
                        axios
                            .get("http://localhost:8080/hellomentor/teacher/getSecondApp", {
                                params: {
                                    teacher_id: this.TeacherId
                                }
                            })
                            .then(function (resp) {
                                _this.checkStudent = resp.data;
                                _this.checkAppList = [];
                                for (let i = 0; i < resp.data.length; i++) {
                                    let studentInfo = {
                                        studentId: resp.data[i].studentId,
                                        studentName: '',
                                        studentGPA: 0,
                                        studentDescription: ''
                                    }

                                    axios
                                        .get("http://localhost:8080/hellomentor/student/getinfo", {
                                            params: {
                                                student_id: resp.data[i].studentId
                                            }
                                        })
                                        .then(function (resp1) {
                                            studentInfo.studentName = resp1.data.studentName;
                                            studentInfo.studentGPA = resp1.data.gpa;
                                            studentInfo.studentDescription = resp1.data.studentDescription;
                                            _this.checkAppList.push(studentInfo);
                                        })
                                        .catch(err => {
                                            console.log(err);
                                        })
                                }
                            })
                            .catch(err => {
                                console.log(err);
                            })
                        break;
                    }
                    case 3: {
                        axios
                            .get("http://localhost:8080/hellomentor/teacher/getThirdApp", {
                                params: {
                                    teacher_id: this.TeacherId
                                }
                            })
                            .then(function (resp) {
                                _this.checkStudent = resp.data;
                                _this.checkAppList = [];
                                for (let i = 0; i < resp.data.length; i++) {
                                    let studentInfo = {
                                        studentId: resp.data[i].studentId,
                                        studentName: '',
                                        studentGPA: 0,
                                        studentDescription: ''
                                    }

                                    axios
                                        .get("http://localhost:8080/hellomentor/student/getinfo", {
                                            params: {
                                                student_id: resp.data[i].studentId
                                            }
                                        })
                                        .then(function (resp1) {
                                            studentInfo.studentName = resp1.data.studentName;
                                            studentInfo.studentGPA = resp1.data.gpa;
                                            studentInfo.studentDescription = resp1.data.studentDescription;
                                            _this.checkAppList.push(studentInfo);
                                        })
                                        .catch(err => {
                                            console.log(err);
                                        })
                                }
                            })
                            .catch(err => {
                                console.log(err);
                            })
                        break;
                    }
                }
            }
        },
        mounted() {
            axios
                .get("http://localhost:8080/hellomentor/teacher/getMatchCount", {
                    params: {
                        teacher_id: this.TeacherId
                    }
                })
                .then(resp => {
                        console.log(resp.data);
                        this.number=resp.data;
                    }
                    // console.log(this.resultData);
                )
                .catch(err => {
                    console.log(err);
                })

            setInterval(() => {
                // console.log('页面加载完成后-自动执行')
                if (!this.isrecall) {
                    // console.log(this.messageData)
                    for (let item of this.messageData) {
                        if (item.receiver === this.chatUser.studentId) {
                            texts = item.message;
                            html = "<div class=\"el-row\" style=\"padding: 5px 0\">\n" +
                                "  <div class=\"el-col el-col-22\" style=\"text-align: right; padding-right: 10px\">\n" +
                                "    <div class=\"tip left\">" + texts + "</div>\n" +
                                "  </div>\n" +
                                "  <div class=\"el-col el-col-2\">\n" +
                                "  <span class=\"el-avatar el-avatar--circle\" style=\"height: 40px; width: 40px; line-height: 40px;\">\n" +
                                "    <img src=\"https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png\" style=\"object-fit: cover;\">\n" +
                                "  </span>\n" +
                                "  </div>\n" +
                                "</div>";<!--当前用户信息-->
                        } else {

                            textr = item.message;
                            html = "<div class=\"el-row\" style=\"padding: 5px 0\">\n" +
                                "  <div class=\"el-col el-col-2\" style=\"text-align: right\">\n" +
                                "  <span class=\"el-avatar el-avatar--circle\" style=\"height: 40px; width: 40px; line-height: 40px;\">\n" +
                                "    <img src=\"https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png\" style=\"object-fit: cover;\">\n" +
                                "  </span>\n" +
                                "  </div>\n" +
                                "  <div class=\"el-col el-col-22\" style=\"text-align: left; padding-left: 10px\">\n" +
                                "    <div class=\"tip right\">" + textr + "</div>\n" +
                                "  </div>\n" +
                                "</div>";
                        }

                        this.content += html;
                        this.isrecall = true;
                    }
                }
            }, 1000)

            this.checkApp(this.presentStatus);

            axios
                .get("http://localhost:8080/hellomentor/teacher/checkResult", {
                    params: {
                        teacher_id: this.TeacherId
                    }
                })
                .then(resp => {
                    // console.log(resp.data);
                    for (let i = 0; i < resp.data.length; i++) {
                        let stuName = resp.data[i].student_name;
                        let teaName = resp.data[i].teacher_name;
                        let matchRec = {
                            studentName: stuName,
                            teacherName: teaName
                        };
                        this.resultData.push(matchRec);
                    }
                    // console.log(this.resultData);
                })
                .catch(err => {
                    console.log(err);
                })

            axios
                .get("http://localhost:8080/hellomentor/student/getall")
                .then(resp => {
                    this.tableData = resp.data;

                    for (let i = 0; i < this.tableData.length; i++) {
                        let id = resp.data[i].studentId;
                        let name = resp.data[i].studentName;
                        let socket = {
                            key: id,
                            desc: name,
                            disabled: false
                        };
                        this.studentNameList.push(socket);
                    }

                })
                .catch(err => {
                    console.log(err);
                })

            axios
                .get("http://localhost:8080/hellomentor/teacher/getinfo", {
                    params: {
                        teacher_id: this.TeacherId//通过登录校验控制
                    }
                })
                .then(resp => {
                    this.TeacherId = resp.data.teacherId;
                    this.TeacherName = resp.data.teacherName;
                    this.TeacherGender = resp.data.gender;
                    this.TeacherDescription = resp.data.teacherDescription;

                    this.form.teacherName = resp.data.teacherName;
                    this.form.teacherDescription = resp.data.teacherDescription;
                })
                .catch(err => {
                    console.log(err);
                })
        }
    })
    pageApp.$mount('#pageApp')

</script>
</body>
</html>