<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ApplicationRecordsList</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>StudentID</th>
        <th>first_app</th>
        <th>second_app</th>
        <th>third_app</th>
        <th>is_selected</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="apprec,iterStat : ${appRecList}">
        <td th:text="${apprec.studentId}"></td>
        <td th:text="${apprec.first_app}"></td>
        <td th:text="${apprec.second_app}"></td>
        <td th:text="${apprec.third_app}"></td>
        <td th:text="${apprec.is_selected}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>