<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <!--引入 element-ui 的样式，-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 必须先引入vue，  后使用element-ui -->
    <script src="js/vue.js"></script>
    <!-- 引入element 的组件库-->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/http-vue-loader"></script>
    <style>
        .el-header {
            background-color: #B3C0D1;
            color: #333;
            line-height: 60px;
        }

    </style>
</head>

<body>
    <el-container id="headerApp">
        <el-header style="text-align: right; font-size: 12px">
            <el-dropdown>
                <i class="el-icon-setting" style="margin-right: 15px"></i>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item>登出</el-dropdown-item>
                    <el-dropdown-item>修改头像</el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
            <span v-bind:title="UserName">欢迎您，{{UserName}}</span>
        </el-header>
    </el-container>

    <el-container id="pageApp">
        <el-header style="background-color: rgb(238, 241, 246);text-align: right; font-size: 12px">
            <el-menu
                    :default-active="activeIndex2"
                    class="el-menu-demo"
                    mode="horizontal"
                    @select="handleSelect"
                    background-color="#545c64"
                    text-color="#fff"
                    active-text-color="#ffd04b">
                <el-menu-item index="1" @click="seen=false">个人信息</el-menu-item>
                <el-submenu index="2">
                    <template slot="title">志愿管理</template>
                    <el-menu-item index="2-1" @click="seen=false">查看志愿</el-menu-item>
                    <el-menu-item index="2-2" @click="seen=false">填写志愿</el-menu-item>
                </el-submenu>
                <el-menu-item index="3" disabled>消息中心</el-menu-item>
                <el-menu-item index="4" @click="seen=true">导师列表</el-menu-item>
            </el-menu>
        </el-header>

        <el-main v-if="seen">
            <el-table :data="tableData">
                <el-table-column prop="mentorId" label="导师编号" width="140">
                </el-table-column>
                <el-table-column prop="mentorName" label="导师姓名" width="120">
                </el-table-column>
                <el-table-column prop="description" label="导师介绍">
                </el-table-column>
            </el-table>
        </el-main>
        <el-main v-if="!seen">
            <el-table :data="tableData">
                <el-table-column prop="mentorId" label="编号" width="140">
                </el-table-column>
                <el-table-column prop="mentorName" label="姓名" width="120">
                </el-table-column>
                <el-table-column prop="description" label="介绍">
                </el-table-column>
            </el-table>
        </el-main>
    </el-container>

<script type="text/javascript">
    var headerApp = new Vue({
        data() {
            return {
                UserName: 'Will'
            }
        }
    })
    headerApp.$mount('#headerApp')

    var pageApp = new Vue({

        data() {
            const item = {
                mentorId: '001',
                mentorName: '刘迎春',
                description: '数据库大型开发实验'
            }
            return {
                activeIndex: '1',
                activeIndex2: '1',
                seen: false,
                tableData: Array(5).fill(item),
                UserName: 'Will'//Shall be set as UserName
            }
        },
        methods: {
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            }
        }
    })
    pageApp.$mount('#pageApp')

</script>
</body>
</html>